{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .card-header {
            background-color: #007BFF;
            color: #fff;
            text-align: center;
            border-bottom: none;
        }
        .card-body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Create an Account</h2>
                    </div>
                    <div class="card-body">
                        <form action="register" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="username" placeholder="User Name"> <br>
                    <input type="text" class="form-control" name="first_name" placeholder="First Name"> <br>
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name"><br>
                    <input type="email" class="form-control" name="email" placeholder="Email"><br>
                    <input type="password" class="form-control" name="password" placeholder="password"><br>
                    <input type="password" class="form-control" name="password1" placeholder="Confirm Password"><br>
                    <input type="submit">
                </form>
              {% for msg in messages %}
                {{msg}}
              {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


